accelerate==1.0.1
clip==0.2.0
dataset==1.6.2
diffusers==0.31.0
pillow==9.1.1
einops==0.7.0
huggingface-hub==0.29.3
opencv-python-headless==4.11.0.86
tqdm==4.65.2
omegaconf==2.3.0
torch==2.1.2
torchvision==0.16.2
xformers==0.0.23.post1
fairscale==0.4.13
loralib==0.1.2
timm==0.9.16
pyiqa==0.1.13
transformers==4.46.3
peft==0.13.2